/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.search-background {
    background: #808080;
}

.backgroundWhite {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.backgroundWhite-Border {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: solid 1px #ddd;
}

.backgroundWhiteBorder-10Padding {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: solid 1px #ddd;
}

.menu-filter-list li {
    
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px 10px;
    text-transform: uppercase;
    background: #f5f5f5;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    font-family: "Poppins",sans-serif;
}

    .menu-filter-list li.is-checke, .menu-filter-list li:hover {
        background-color: #545b62;
        color: #fff;
    }

.form-control:disabled, .form-control[readonly] {
    background-color: white !important;
    opacity: 1;
    border: solid #f0f0f0;
    cursor: auto;
}

/*date picker*/
.ui-datepicker {
    background: rgb(213, 213, 213);
    padding: 5px;
    border: 1px solid grey;
    display: none;
}

.ui-timepicker-wrapper {
    text-decoration: none;
    background: rgb(213, 213, 213);
    padding: 5px;
    border: 1px solid grey;
    display: none;
}

.ui-timepicker-list {
    list-style: none;
    cursor: pointer;
}

.ui-datepicker-prev, .ui-datepicker-next {
    display: none;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 70% !important;
        margin: 1.75rem auto;
    }
}

/*social buttons*/
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-google {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .btn-social > :first-child {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 32px;
        line-height: 34px;
        font-size: 1.3em;
        text-align: center;
        border-right: 1px solid rgba(0,0,0,0.2);
    }

