@model Spice.Models.ViewModels.MenuItemViewModel
@using Spice.Extensions
@{
    ViewData["Title"] = "Create Menu Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-info">Create Menu Item</h2>

<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @** HEREEEE*@
                <input asp-for="MenuItem.Description" class="form-control" />
                <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
                <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_BackToListAndCreateButton" />
            </div>
        </div>
    </div>
</form>